.messageFeed {
    overflow: scroll;
    height: 60vh;
}

.messageFeed > ul {
    list-style: none;
}

.message {
    margin-bottom: 10px;
}

.message > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}