@import "../tables.css";
  
.newCharacterFields {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.characterRow {
    margin-bottom: 10px;
}

.characterField {
    padding-top: 10px;
    padding-bottom: 10px;
}